html, body, button {
    font-family: TT Lakes, Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

.siteContainer {
    display: flex;
    flex-direction: column;
    background-color: white;
    box-sizing: border-box;
}

.header__container {
    display: flex;
    flex-direction: row;
    background-color: white;
    border-bottom: 1px solid rgba(217, 255, 245, 1);
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

.header__divaider1,
.header__divaider3,
.header__group2,
.imageBox_normal,
.imageBox_big {
    display: none;
}

.burgerButton,
.repairButton,
.checkstatusButton,
.callButton,
.chatButton,
.profileButton {
    background-color: white;
    border: 2px solid white;
}

.repairButton p, .checkstatusButton p {
    display: none;
}

button:hover {
    background-color: white;
    border: 2px solid rgb(189, 255, 237);
    border-radius: 6px 6px 6px 6px;
}

.header__divaider2 {
    margin-left: 20px;
    padding-bottom: 5px;
}

.header__group1 {
    display: flex;
    margin-left: 16px;
}

.header__group3 {
    margin-right: 16px;
}


@media (min-width: 768px) {

    .header__container {
        display: flex;
        flex-direction: row;
        background-color: white;
        border-bottom: 1px solid rgba(217, 255, 245, 1);
        padding-top: 10px;
        padding-bottom: 10px;
        justify-content: space-between;
        align-content: center;
        align-items: center;
        height: 57px;
    }
    
    .header__group1 {
        display: flex;
        margin-left: 24px;
        flex-direction: row;
        flex-grow: 9;
    }
    
    .header__group2 {
        display: flex;
        justify-content: right;
    }

    .header__group2 button {
		display: flex;
	}

    .header__divaider1 {
        display: flex;
        margin-left: 20px;
        margin-right: 20px;
    }

    .header__divaider3 {
        display: flex;
        padding-left: 10px;
        margin-right: 10px;
    }

    .header__divaider2 {
        display: none;
    }


}

@media (min-width : 1120px) {

    .header__group1,
    .header__group2,
    .header__divaider3 {
        display: none;
    }

    .header__group3 {
		display: flex;
        align-content: flex-end;
		flex-direction: row;
		justify-content: end;
		margin-top: 45px;
        margin-right: 0;
		position: absolute;
		right: 25px;
		top: 10px;
    }

    .header__container {
		align-content: flex-end;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		border: none;
	}

    .repairButton,
    .checkstatusButton {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 1px;
        padding-left: 10px;
        padding-right: 6px;
    }

    .repairButton p,
    .checkstatusButton p {
        display: flex;
		font-size: 16px;
		letter-spacing: -0.2px;
		line-height: 24px;
    }
    
    .repairButton img,
    .checkstatusButton img {
        padding-left: 10px;
    }

}