.asidebarMenu-footer {
  margin-top: auto;
}

.contacts {
  font-style: normal;
}

.telefone {
  margin-bottom: 40px;
  font-family: TT Lakes;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  font-weight: bold;
}

.mail,
.telefone {
  margin: 0;
}

.mail {
  margin-bottom: 12px;
}
