.asidebarMenu {
    display: flex;
    flex-direction: column;
    width: 296px;
    height: 100%;
    left: -360px;
    position: fixed;
    box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2);
    padding-left: 24px;
}

.asidebarMenu--active {
    left: 0px;
	transition-duration: 0.5s;
}