.callback {
  display: flex;
  flex-direction: column;
  height: 100vh;
  right: -440px;
  position: fixed;
  width: 320px;
  box-shadow: 5px 0 40px rgba(0, 0, 0, 0.5);
  z-index: 999;
  background-color: white;
}

.callback--active {
  right: 0;
  transition-duration: 0.5s;
}

.callback__close-button {
  border: none;
  background-color: white;
  padding: 10px;
}

@media (min-width: 768px) {
  .callback__close-button {
    position: absolute;
    background: none;
    width: 40px;
    height: 40px;
    left: -100px;
    top: 40px;
    z-index: 999;
  }
}

.callback__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;
}

.callback__title {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6000000238418579px;
  text-align: left;
  padding-left: 20px;
  position: relative;
}

.callback__title::before {
  content: '';
  background-color: #41F6D7;
  width: 5px;
  height: 30px;
  position: absolute;
  left: 0;
  border-radius: 0 40% 40% 0;
}

.callback__form {
  padding: 10px;
}
  
.callback__form__field {
  margin: 10px;
  width: 280px;
  height: 48px;
  gap: 0px;
  border: 1px solid #EAEAEA;
  border-radius: 6px 6px 6px 6px;
  &::placeholder  {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #B5B6BC;
    padding-left: 10px;
  }
}

.callback__form__textarea {
  width: 280px;
  height: 118px;
  border: 1px solid #EAEAEA;
  margin: 10px;
  resize: none;
  &::placeholder  {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    text-align: left;
    color: #B5B6BC;
    padding-left: 10px;
  }
}
    
.callback__form__text {
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 16px;
  text-align: left;
  color: #7E7E82;
  padding-left: 12px;
  span {
    color: #FF3E79;
  }
}
      
.callback__form__button {
  background-color: white;
  border: none;
  position: absolute;
  right: 10px;
  &:hover {
    filter: hue-rotate(150deg);
    transition-duration: 1s;
  }
}