.priceSection__title {
  text-transform: uppercase;
  color: rgba(126, 126, 130, 1);
	font-size: 16px;
	letter-spacing: -0.20000000298023224px;
	line-height: 24px;
	padding: 20px;
	text-align: left;
}